/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Existing Styles */
body,
html {
  margin: 0;
  height: 100%;
  display: flex;
  font-family: Arial, sans-serif;
  background-color: black;
}

#previewContainer {
  flex: 0 0 20%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  /* Scrollbar Styling for Firefox */
  scrollbar-width: thin;
  scrollbar-color: #555555 #1a1a1a;
}

.preview-container {
  position: relative;
  width: 100%;
}

.preview {
  width: 100%;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
  display: block;
}

.preview:hover,
.preview-container.selected .preview {
  opacity: 1;
}

.preview-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 5px 2px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
}

.preview-container:hover .preview-name,
.preview-container.selected .preview-name {
  opacity: 1;
}


#mainVideoContainer {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#mainVideo {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

/* Scrollbar Styling for WebKit Browsers */
#previewContainer::-webkit-scrollbar {
  width: 10px;
}

#previewContainer::-webkit-scrollbar-track {
  background: #1a1a1a;
}

#previewContainer::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
}